In [42]:
import pandas as pd

In [43]:
df=pd.read_csv('Crop_Recommendation.csv')
df.head(10)

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label,Unnamed: 8,Unnamed: 9
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,NaN,NaN
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,NaN,NaN
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,NaN,NaN
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,NaN,NaN
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,NaN,NaN
5,69,37,42,23.058049,83.370118,7.073454,251.055000,rice,NaN,NaN
6,69,55,38,22.708838,82.639414,5.700806,271.324860,rice,NaN,NaN
7,94,53,40,20.277744,82.894086,5.718627,241.974195,rice,NaN,NaN
8,89,54,38,24.515881,83.535216,6.685346,230.446236,rice,NaN,NaN
9,68,58,38,23.223974,83.033227,6.336254,221.209196,rice,NaN,NaN

In [44]:
df=pd.read_csv('Crop_Recommendation.csv')
df.drop(['Unnamed: 8','Unnamed: 9'],axis=1,inplace= True)
df.head(5)

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice

In [45]:
df.isnull().sum()

Nitrogen       0
phosphorus     0
potassium      0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     2200 non-null   int64
 1   phosphorus   2200 non-null   int64
 2   potassium    2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [72]:
df.head()

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice

In [73]:
df.tail()

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee

In [49]:
df['label'].value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [50]:
x=df.drop('label',axis=1)
y=df['label']

In [51]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     2200 non-null   int64
 1   phosphorus   2200 non-null   int64
 2   potassium    2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 120.4 KB

In [52]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2200 entries, 0 to 2199
Series name: label
Non-Null Count  Dtype
--------------  -----
2200 non-null   object
dtypes: object(1)
memory usage: 17.3+ KB

In [53]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=1,test_size=0.3)

In [54]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1540 entries, 625 to 1061
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     1540 non-null   int64
 1   phosphorus   1540 non-null   int64
 2   potassium    1540 non-null   int64
 3   temperature  1540 non-null   float64
 4   humidity     1540 non-null   float64
 5   ph           1540 non-null   float64
 6   rainfall     1540 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 96.2 KB

In [55]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 660 entries, 1276 to 1132
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     660 non-null    int64
 1   phosphorus   660 non-null    int64
 2   potassium    660 non-null    int64
 3   temperature  660 non-null    float64
 4   humidity     660 non-null    float64
 5   ph           660 non-null    float64
 6   rainfall     660 non-null    float64
dtypes: float64(4), int64(3)
memory usage: 41.2 KB

In [56]:
y_train.info()

<class 'pandas.core.series.Series'>
Index: 1540 entries, 625 to 1061
Series name: label
Non-Null Count  Dtype
--------------  -----
1540 non-null   object
dtypes: object(1)
memory usage: 24.1+ KB

In [57]:
y_test.info()

<class 'pandas.core.series.Series'>
Index: 660 entries, 1276 to 1132
Series name: label
Non-Null Count  Dtype
--------------  -----
660 non-null    object
dtypes: object(1)
memory usage: 10.3+ KB

In [58]:
from sklearn.linear_model import LogisticRegression

In [59]:
LRmodel=LogisticRegression()
LRmodel.fit(x_train,y_train)

C:\Users\horim\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [60]:
y_predict = LRmodel.predict(x_test)

In [61]:
from sklearn.metrics import accuracy_score
logistics_reg_acc_res = accuracy_score(y_test,y_predict)
print("Logistic Regression accuracy  is: "+ str(logistics_reg_acc_res))

Logistic Regression accuracy  is: 0.9651515151515152

In [62]:
from sklearn.tree import DecisionTreeClassifier
DTmodel = DecisionTreeClassifier()
DTmodel.fit(x_train,y_train)
y_pred2 = DTmodel.predict(x_test)

In [63]:
from sklearn.metrics import accuracy_score
decision_acc_res = accuracy_score(y_test,y_pred2)
print("Decision Tree accuracy  is: "+ str(decision_acc_res))

Decision Tree accuracy  is: 0.9893939393939394

In [64]:
from sklearn.ensemble import RandomForestClassifier
RFmodel = RandomForestClassifier()
RFmodel.fit(x_train,y_train)
y_pred3 = RFmodel.predict(x_test)

In [65]:
from sklearn.metrics import accuracy_score
RT_acc_res = accuracy_score(y_test,y_pred3)
print("Logistic Regression accuracy  is: "+ str(RT_acc_res))

Logistic Regression accuracy  is: 0.996969696969697

In [66]:
import joblib

In [67]:
filename='crop app'

In [68]:
joblib.dump(DTmodel,'crop app')

['crop app']

In [69]:
app = joblib.load('crop app')

In [70]:
arr = [[85,58,41,21.770462,80.319644,7.038096,226.655537]]
apppredict=app.predict(arr)

C:\Users\horim\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [74]:
apppredict

array(['rice'], dtype=object)

In [75]:
arr = [[85,40,20,21.770462,50.319644,50.038096,150.655537]]
apppredict=app.predict(arr)

C:\Users\horim\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [76]:
apppredict

array(['coffee'], dtype=object)